.wardrobeDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.wardrobeText {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .wardrobeDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}