.reviewWrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.reviewDiv {
    flex: 1;
    height: 80px;
    display: flex;
}

.reviewerDiv {
    display: flex;
    flex-direction: column;
    width: 10%;
    padding: 10px;
}

.reviewerDiv > div {
    height: 70%;
    width: 100%;
}

.reviewerDiv img {
    height: 100%;
    border-radius: 50%;
}

.reviewDiv p {
    margin: 0;
}

.reviewTextDiv {
    flex: 1;
    display: flex;
    align-items: center;
}

.reviewImagesDiv {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reviewImagesDiv > img {
    height: 90%;
}

.noReviewsDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noReviewsDiv > img {
    height: 180px;
    margin: 20px;
}

.noReviewsDiv > p {
    font-size: 1.5rem;
}

.reviewDivider {
    position: absolute;
    height: 1px;
    width: 100%;
    top: 100%;
    background: linear-gradient(90deg, transparent, #c2634b, transparent)
}

.hidden {
    display: none;
}