.productDetailsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productDetailsWrapper {
  display: flex;
  width: 80%;
  margin: 20px;
}

.productDetailsMainDiv {
  margin: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247 247 247);
}

.editProductButton {
  width: 502px;
  border: none;
  padding: 5px;
  background-color: rgb(28 179 196);;
  color: white;
  border-radius: 5px;
}

.youMightAlsoLikeWrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.youMightAlsoLikeText {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  margin-right: 20px;
}

.youMightAlsoLikeDiv {
  padding: 5px 15vh;
  text-align: left;
}

.DetailSidebar.showOfferPopup {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity to make it darker or lighter */
}

@media only screen and (min-width: 1920px) {
  .productDetailsWrapper, .youMightAlsoLikeWrapper {
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  .productDetailsWrapper {
    flex-direction: column;
    align-items: center;
  }
}