.productsTabDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.noProductsDiv {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noProductsDiv > img {
    height: 180px;
    margin: 20px;
}

.noProductsDiv > p {
    font-size: 1.5rem;
}


@media only screen and (max-width: 1350px) {
    .productsTabDiv {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 992px) {
    .productsTabDiv {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .productsTabDiv {
        display: flex;
        flex-direction: column;
    }
}