.mobileNavbarMenuDiv {
    height: 94vh;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    background-color: white;
}

.mobileNavbarMenuDiv hr {
    margin: 0;
}

.mobileMenuRow {
    display: flex;
    align-items: center;
    height: 10%;
}

.mobileMenuRow > a {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 15px;
    text-decoration: none;
}

.mobileMenuRow > p {
    margin: 0;
}

.mobileMenuImageDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 30px;
}

.mobileMenuProfilePic {
    height: 65%;
    border-radius: 50%;
}

.mobileMenuFavouritesIcon {
    height: 55%;
}

.mobileMenuMessagesIcon {
    height: 45%;
}

.sellNowMobileButton {
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #1bb3c3;
}

.mobileMenuSignUp {
    padding: 10px 20px;
    border: 1px solid #1bb3c3;
    border-radius: 3px;
    background-color: white;
}

.mobileMenuLogin {
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #1bb3c3;
}

.languageButtonsRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
}

.languageButtonsRow > p {
    margin: 0;
    padding: 10px 20px;
    border: 1px solid #999999;
    border-radius: 3px;
    cursor: pointer;
}

.mobileMenuLogOut {
    padding: 10px 30px;
    border: 1px solid #1bb3c3;
    border-radius: 3px;
    background-color: white;
}