.popupContainer {
  position: relative;
  padding: 20px;
  width: 380px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.offerCloseIcon {
  position: absolute;
  height: 20px;
  left: 90%;
  cursor: pointer;
}

.offerForm {
  margin: 30px auto;
  width: 100%;
  max-width: 380px;
}

.offerForm label {
  color: rgb(28 179 196);
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.offerForm input,
.offerForm textarea {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

.offerForm ::placeholder {
  color: rgb(28 179 196);
  text-align: left;
}

.offerForm button {
  background: rgb(28 179 196);
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

.offerForm button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.offerForm h1 {
  text-align: center;
  margin: 15px;
}

