.chatHeaderDiv {
    display: flex;
    align-items: center;
    height: 7%;
    width: 100%;
    border-bottom: 1px solid grey;
}

.chatHeaderText {
    flex: 1;
    margin: 0;
}

.deleteChatIcon {
    align-self: flex-end;
    height: 100%;
    padding: 5px 10px;
    cursor: pointer;
}

.messagesDiv {
    height: 83%;
    width: 100%;
    padding-top: 10px;
    overflow: auto;
}

.messageInputDiv {
    height: 10%;
    width: 100%;
}

.chatInput {
    height: 100%;
    width: 100%;
}

.singleMessageDiv {
    display: flex;
    align-items: center;
}

.yourOwn {
    justify-content: flex-end;
}

.yourOwn .messageText {
    background-color: lightgreen;
}

.otherUser {
    justify-content: flex-start;
}

.otherUser .messageText {
    background-color: lightblue;
}

.messageWrapper {
    max-width: 40%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.message {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.messageText {
    margin: 0;
    padding: 10px 20px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

.yourMessageTime {
    position: absolute;
    top: 90%;
    left: -40px;
    color: grey;
}

.yourOfferMessageTime {
    position: absolute;
    top: 100%;
    left: -40px;
    color: grey;
}

.otherUserTime {
    position: absolute;
    top: 99%;
    left: 100%;
    color: grey;
}

.messagePFP {
    margin: 0 10px;
    height: 30px;
    border-radius: 50%;
    align-self: start;
}

.offerMessageWrapper {
    width: 40%;
    margin-bottom: 20px;
}

.offerMessage {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.offerMessageText {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcoral !important;
}

.offerTitle {
    margin: 10px 0;
}

.offerImage {
    aspect-ratio: 1;
    width: 100%;
}

.chatOfferButtons {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.chatOfferButtons > button {
    width: 40%;
    margin: 0 10px;
    border: none;
    border-radius: 3px;
}

.checkoutMessageWrapper {
    max-width: 40%;
    margin-bottom: 20px;
}

.checkoutMessageWrapper > button {
    width: 40%;
    margin-right: 50px;
    border: none;
    border-radius: 3px;
}