.productsListDiv {
    display: flex;
    justify-content: center;
    min-height: 92vh;
}

.productsListWrapper {
    width: 80%;
    padding: 10px;
}

.allProductsTitle {
    text-align: left;
}

.productsListGridDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media only screen and (min-width: 1920px) {
    .productsListWrapper {
        width: 50%;
    }
}

@media only screen and (max-width: 1280px) {
    .productsListGridDiv {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 992px) {
    .productsListGridDiv {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .productsListDiv {
        min-height: 95vh;
    }
    .productsListGridDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}