.favouritesPageDiv {
    display: flex;
    justify-content: center;
    min-height: 92vh;
}

.favouritesWrapper {
    width: 80%;
    margin: 20px;
}

.favouritesDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.emptyWishlistText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}


@media only screen and (min-width: 1920px) {
    .favouritesWrapper {
        width: 50%;
    }
}

@media only screen and (max-width: 1280px) {
    .favouritesDiv {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 992px) {
    .favouritesDiv {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .favouritesDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

