.editProfilePageDiv {
    display: flex;
    justify-content: center;
    min-height: 91vh;
}
  
.editProfilePageWrapper {
    display: flex;
    width: 80%;
    margin: 20px;
}
  
.changeProfilePicDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 30%;
    margin-right: 20px;
    background-color: white;
}
  
.changePasswordDiv {
    flex: 1;
    height: 320px;
}

.changePasswordForm {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.changePasswordForm > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px;
    background-color: white;
}

.changePasswordForm input {
    font-family: "Open Sans",sans-serif;
    width: 50%;
    font-size: 14px;
    border: none;
    border-bottom: 1.8px solid #f5f6f7;
}

.changePasswordButton {
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.success-message {
    color: rgb(16, 83, 16);
} 

@media only screen and (max-width: 768px) {
    .editProfilePageDiv {
        min-height: 94vh;
    }   
}


@media only screen and (max-width: 992px) {
    .changeProfilePicDiv {
        width: 70%;
    }
    .changePasswordForm > div {
        display: flex;
        flex-direction: column;
    }
    .changePasswordForm input {
        margin-top: 20px;
        width: 90%;
    }
}

@media only screen and (max-width: 1440px) {
    .editProfilePageWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .changeProfilePicDiv {
        height: 250px;
        margin-bottom: 20px;
    }
    .changePasswordDiv {
        width: 70%;
    }
    .changePasswordForm {
        height: 65%;
    }
}


@media only screen and (min-width: 1920px) {
    .editProfilePageWrapper {
        width: 50%;
    }
} 